<html lang="en">

<head>
    <title>
        Earn Credits - <%= extra.name %>
    </title>
    <%- include('./components/sources') %>
</head>

<body class="g-sidenav-show bg-black-100 dark-version">
    <% let ram=0; let disk=0; let cpu=0; let servers=pterodactyl.relationships.servers.data.length; for (let i=0,
        len=pterodactyl.relationships.servers.data.length; i < len; i++) { ram=ram + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.memory=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0); disk=disk + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.disk=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0); cpu=cpu + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.cpu=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0); } %>
        <div class="min-height-300 bs-dark position-absolute w-100"></div>
        <%- include('./elements/dashboard/sidebar') %>
            <main class="main-content position-relative border-radius-lg ps">
                <!-- Navbar -->
                <%- include('./components/navbar') %>
                    <!-- End Navbar -->
                    <div class="container-fluid py-4">
                        <%- include('./components/header') %> <%- include('./components/onload') %>
                                <div class="row mt-4">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                            <center>
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <h4>Earn Credits to Upgrade resources<h4>
                                                    </div>
                                                </div>
                                            </center>
                                            <div class="card-body">
                                                <center>
                                                    <h6>Earn Credits by using the Join Resources or By
                                                        Winning a
                                                        Tournament on the Discord Server.
                                                        <br> Warning: The afk
                                                        system is removed so that no one in our
                                                        community /
                                                        hosting farms or abuses our services. <br> Click
                                                        on
                                                        below buttons to
                                                        start earning credits.
                                                    </h6>
                                                </center>
                                                <br>
                                                <div class="d-flex">
                                                    <button class="btn bg-gradient-primary w-100 px-3 mb-2 active me-2"
                                                        data-class="bg-white"
                                                        onclick="window.location.href = '/join'">Join For
                                                        Resources</button>
                                                    <button class="btn bg-gradient-primary w-100 px-3 mb-2"
                                                        data-class="bg-default"
                                                        onclick="window.location.href = '/redeem'">Redeem a
                                                        Coupon</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    </div>
                    </div>
                    <%- include('./components/footer') %>
                        </div>
                        <%- include('./elements/changePassword') %> <%- include('./elements/fixedPlugin') %>
            </main>
            <%- include('./components/scripts') %>
</body>
</html>