<html lang="en">

<head>
    <title>
        Redeem Coupon - <%= extra.name %>
    </title>
    <%- include('./components/sources') %>

</head>

<body class="g-sidenav-show bg-black-100 dark-version">
    <% let ram=0; let disk=0; let cpu=0; let servers=pterodactyl.relationships.servers.data.length; for (let i=0,
        len=pterodactyl.relationships.servers.data.length; i < len; i++) { ram=ram + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.memory=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0); disk=disk + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.disk=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0); cpu=cpu + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.cpu=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0); } %>
        <div class="min-height-300 bs-dark position-absolute w-100"></div>
        <%- include('./elements/dashboard/sidebar') %>
            <main class="main-content position-relative border-radius-lg ps">
                <!-- Navbar -->
                <%- include('./components/navbar') %>
                    <!-- End Navbar -->
                    <div class="container-fluid py-4">
                        <%- include('./components/header') %> <%- include('./components/onload') %>
                                <div class="row mt-4">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">Redeem A Coupon Code</div>
                                            </div>
                                            <div class="card-body">
                                                <form action="/coupon_redeem">
                                                    <center>
                                                        <h4>Please enter the coupon code you would like to
                                                            redeem below!</h4>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter your coupon code here" name="code">
                                                        <br>
                                                        <button class="btn btn-outline-primary">Redeem</button>
                                                    </center>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    </div>
                    </div>
                    <%- include('./components/footer') %>
                        </div>

                        <%- include('./elements/changePassword') %> <%- include('./elements/fixedPlugin') %>
            </main>
            <%- include('./components/scripts') %>
</body>

</html>