<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">

    <title>
        <%= extra.store.title %>
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="../assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.0" rel="stylesheet" />
    <script>
        var isRTL = JSON.parse(localStorage.getItem('isRTL'));
        if (isRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
</head>

<body class="g-sidenav-show bg-black-100 dark-version">
    <% let ram=0; let disk=0; let cpu=0; let servers=pterodactyl.relationships.servers.data.length; for (let i=0,
        len=pterodactyl.relationships.servers.data.length; i < len; i++) { ram=ram + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.memory=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0); disk=disk + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.disk=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0); cpu=cpu + (typeof
        pterodactyl.relationships.servers.data[i].attributes.limits.cpu=="number" ?
        pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0); } %>
        <div class="min-height-300 bs-dark position-absolute w-100"></div>
        <aside
            class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 ps bg-default bg-white"
            id="sidenav-main" data-color="primary">
            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer opacity-5 position-absolute end-0 top-0 d-none d-xl-none opacity-8 text-white"
                    aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0" href="/dashboard">
                    <img src="../assets/img/favicon.png" class="navbar-brand-img h-100" alt="main_logo">
                    <span class="ms-1 font-weight-bold">
                        <%= extra.name %>
                    </span>
                </a>
            </div>
            <hr class="horizontal dark mt-0">
            <div class="collapse navbar-collapse w-auto ps ps--active-y" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " href="/dashboard">
                            <div
                                class="icon icon-shape icon-sm active  border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/servers/new">
                            <div
                                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa fa-plus-square text-primary text-sm opacity-10" aria-hidden="true"></i>
                            </div>
                            <span class="nav-link-text ms-1">Create Server</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/servers">
                            <div
                                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">List Servers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/regen">
                            <div
                                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa fa-key text-info text-sm opacity-10" aria-hidden="true"></i>
                            </div>
                            <span class="nav-link-text ms-1">Password Reset</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/store">
                            <div
                                class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa fa-store text-danger text-sm opacity-10" aria-hidden="true"></i>
                            </div>
                            <span class="nav-link-text ms-1">Store</span>
                        </a>
                    </li>
                </ul>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; height: 421px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 366px;"></div>
                </div>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; height: 421px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 366px;"></div>
                </div>
            </div>
            <div class="sidenav-footer mx-3 ">
                <div class="card card-plain shadow-none" id="sidenavCard">
                    <img class="w-50 mx-auto" src="../assets/img/illustrations/icon-documentation.svg"
                        alt="sidebar_illustration">
                    <div class="card-body text-center p-3 w-100 pt-0">
                        <div class="docs-info">
                            <h6 class="mb-0">Need help?</h6>
                            <p class="text-xs font-weight-bold mb-0">Please check our docs</p>
                        </div>
                    </div>
                </div>
                <a href="/earn" class="btn btn-dark btn-sm w-100 mb-3"> CREDITS: $<%= coins %></a>
                <a class="btn btn-primary btn-sm mb-0 w-100" href="/docs" type="button">
                    Documentation
                </a>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </aside>
        <main class="main-content position-relative border-radius-lg ps">
            <!-- Navbar -->
            <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
                data-scroll="false">
                <div class="container-fluid py-1 px-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                            <li class="breadcrumb-item text-sm text-white"><a class="opacity-5 text-white"
                                    href="javascript:;">Pages</a></li>
                            <li class="breadcrumb-item text-sm text-white" aria-current="page">Server</li>
                        </ol>
                        <h6 class="font-weight-bolder mb-0 text-white">Servers</h6>
                    </nav>
                    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                        <ul class="navbar-nav  justify-content-end">
                            <li class="nav-item d-flex align-items-center">
                                <a class="nav-link font-weight-bold px-0 text-white">
                                    <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
                                    <span class="d-sm-inline d-none">
                                        <%= req.session.userinfo.username%>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item px-3 d-flex align-items-center">
                                <a href="/logout" class="nav-link text-white p-0">
                                    <i class="fa fa-sign-out fixed-plugin-button-nav cursor-pointer"
                                        aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link p-0 text-white" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center">
                        </li>
                        <li class="nav-item dropdown pe-2 d-flex align-items-center">
                            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                                aria-labelledby="dropdownMenuButton">
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1 text-white">
                                                    <span class="font-weight-bold">New message</span> from Laur
                                                </h6>
                                                <p class="text-xs mb-0 text-white opacity-8">
                                                    <i class="fa fa-clock me-1" aria-hidden="true"></i>
                                                    13 minutes ago
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                <img src="../assets/img/small-logos/logo-spotify.svg"
                                                    class="avatar avatar-sm bg-gradient-dark  me-3 ">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1 text-white">
                                                    <span class="font-weight-bold">New album</span> by Travis Scott
                                                </h6>
                                                <p class="text-xs mb-0 text-white opacity-8">
                                                    <i class="fa fa-clock me-1" aria-hidden="true"></i>
                                                    1 day
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        <div class="d-flex py-1">
                                            <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                                                <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <title>credit-card</title>
                                                    <g stroke="none" stroke-width="1" fill="#fff" fill-rule="evenodd">
                                                        <g transform="translate(-2169.000000, -745.000000)" fill="#fff"
                                                            fill-rule="nonzero">
                                                            <g transform="translate(1716.000000, 291.000000)">
                                                                <g transform="translate(453.000000, 454.000000)">
                                                                    <path class="color-background"
                                                                        d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                                                        opacity="0.593633743"></path>
                                                                    <path class="color-background"
                                                                        d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                                                                    </path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1 text-white">
                                                    Payment successfully completed
                                                </h6>
                                                <p class="text-xs mb-0 text-white opacity-8">
                                                    <i class="fa fa-clock me-1" aria-hidden="true"></i>
                                                    2 days
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->





            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Memory</p>
                                            <h5 class="font-weight-bolder">
                                                <%= ram %> MB
                                            </h5>
                                            <p class="mb-0">
                                                <span class="text-success text-sm font-weight-bolder">/ <%= (packages ?
                                                        packages.ram : 0) + extraresources.ram + j4r.ram %> MB</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div
                                            class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                            <i class="fa fa-microchip text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Disk</p>
                                            <h5 class="font-weight-bolder">
                                                <%= disk %> MB
                                            </h5>
                                            <p class="mb-0">
                                                <span class="text-success text-sm font-weight-bolder">/ <%= (packages ?
                                                        packages.disk : 0) + extraresources.disk + j4r.disk %> MB</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div
                                            class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                            <i class="fa fa-server  text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-uppercase font-weight-bold">CPU</p>
                                            <h5 class="font-weight-bolder">
                                                <%= cpu %> %
                                            </h5>
                                            <p class="mb-0">
                                                <span class="text-success text-sm font-weight-bolder">/ <%= (packages ?
                                                        packages.cpu : 0) + extraresources.cpu + j4r.cpu %> %</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div
                                            class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                            <i class="fa fa-thermometer-full text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-uppercase font-weight-bold">Servers</p>
                                            <h5 class="font-weight-bolder">
                                                <%= servers %>
                                            </h5>
                                            <p class="mb-0">
                                                <span class="text-success text-sm font-weight-bolder">/ <%= (packages ?
                                                        packages.servers : 0) + extraresources.servers + j4r.servers %>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div
                                            class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                            <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (req.session.newaccount || req.session.password) { %>
                    <% if (req.session.newaccount) { %>
                        <h5 class="text-white op-7 mb-4">A new account has been created for you on the Game Panel.</h5>
                        <% } %>
                            <% if (req.session.password) { %>
                                <div class="row mt-4"></div>
                                <div class="card">
                                    <div class="card-body p-3">
                                        <div class="col-4 text-end">
                                        </div>
                                        <h5 class="text-white op-7 mb-4"><i
                                                class="fa fa-exclamation-circle text-lg opacity-10"
                                                aria-hidden="true"></i> Your new password is <strong><span
                                                    class="text-success">
                                                    <%= req.session.password %>
                                                </span></strong>! Make sure to keep this password in a safe place.</h5>
                                    </div>
                                </div>

                                <% } %>
                                    <% } %>


                                        <div class="container-fluid row mt-4">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <!-- Dark Chart -->
                                                    <div class="card">
                                                        <div class="card-header border-0">
                                                            <div class="row align-items-center">
                                                                <div class="col">
                                                                    <h3 class="mb-0">Store</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <form action="/buyram">
                                                                <div class="form-group">
                                                                    <label for="buyram">RAM</label>
                                                                    <select
                                                                        class="form-control form-control-alternative"
                                                                        name="amount">
                                                                        <option value=1>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    %>
                                                                                    <%= settings.api.client.coins.store.ram.cost==1
                                                                                        ? "" : "s" %>
                                                                        </option>
                                                                        <option value=2>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 2 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 2 %>
                                                                        </option>
                                                                        <option value=3>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 3 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 3 %>
                                                                        </option>
                                                                        <option value=4>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 4 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 4 %>
                                                                        </option>
                                                                        <option value=5>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 5 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 5 %>
                                                                        </option>
                                                                        <option value=6>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 6 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 6 %>
                                                                        </option>
                                                                        <option value=7>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 7 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 7 %>
                                                                        </option>
                                                                        <option value=8>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 8 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 8 %>
                                                                        </option>
                                                                        <option value=9>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 9 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 9 %>
                                                                        </option>
                                                                        <option value=10>
                                                                            <%= settings.api.client.coins.store.ram.per
                                                                                * 10 %>MB RAM -
                                                                                $<%= settings.api.client.coins.store.ram.cost
                                                                                    * 10 %>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <button type="submit"
                                                                    class="btn btn-outline-default">Buy</button>
                                                            </form>
                                                            <br><br><br><br>
                                                            <form action="/buydisk">
                                                                <div class="form-group">
                                                                    <label for="buydisk">Disk</label>
                                                                    <select class="form-control" name="amount">
                                                                        <option value=1>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    %>
                                                                                    <%= settings.api.client.coins.store.disk.cost==1
                                                                                        ? "" : "s" %>
                                                                        </option>
                                                                        <option value=2>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 2 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 2 %>
                                                                        </option>
                                                                        <option value=3>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 3 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 3 %>
                                                                        </option>
                                                                        <option value=4>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 4 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 4 %>
                                                                        </option>
                                                                        <option value=5>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 5 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 5 %>
                                                                        </option>
                                                                        <option value=6>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 6 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 6 %>
                                                                        </option>
                                                                        <option value=7>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 7 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 7 %>
                                                                        </option>
                                                                        <option value=8>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 8 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 8 %>
                                                                        </option>
                                                                        <option value=9>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 9 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 9 %>
                                                                        </option>
                                                                        <option value=10>
                                                                            <%= settings.api.client.coins.store.disk.per
                                                                                * 10 %>MB Disk - $<%=
                                                                                    settings.api.client.coins.store.disk.cost
                                                                                    * 10 %>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <button type="submit"
                                                                    class="btn btn-outline-default">Buy</button>
                                                            </form>
                                                            <br><br><br><br>
                                                            <form action="/buycpu">
                                                                <div class="form-group">
                                                                    <label for="buycpu">CPU</label>
                                                                    <select class="form-control" name="amount">
                                                                        <option value=1>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    %>
                                                                                    <%= settings.api.client.coins.store.cpu.cost==1
                                                                                        ? "" : "s" %>
                                                                        </option>
                                                                        <option value=2>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 2 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 2 %>
                                                                        </option>
                                                                        <option value=3>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 3 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 3 %>
                                                                        </option>
                                                                        <option value=4>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 4 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 4 %>
                                                                        </option>
                                                                        <option value=5>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 5 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 5 %>
                                                                        </option>
                                                                        <option value=6>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 6 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 6 %>
                                                                        </option>
                                                                        <option value=7>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 7 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 7 %>
                                                                        </option>
                                                                        <option value=8>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 8 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 8 %>
                                                                        </option>
                                                                        <option value=9>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 9 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 9 %>
                                                                        </option>
                                                                        <option value=10>
                                                                            <%= settings.api.client.coins.store.cpu.per
                                                                                * 10 %>% CPU -
                                                                                $<%= settings.api.client.coins.store.cpu.cost
                                                                                    * 10 %>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <button type="submit"
                                                                    class="btn btn-outline-default">Buy</button>
                                                            </form>
                                                            <br><br><br><br>
                                                            <form action="/buyservers">
                                                                <div class="form-group">
                                                                    <label for="buyservers">Servers</label>
                                                                    <select class="form-control" name="amount">
                                                                        <option value=1>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                %> server -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    %>
                                                                                    <%= settings.api.client.coins.store.servers.cost==1
                                                                                        ? "" : "s" %>
                                                                        </option>
                                                                        <option value=2>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 2 %> servers -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    * 2 %>
                                                                        </option>
                                                                        <option value=3>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 3 %> servers -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    * 3 %>
                                                                        </option>
                                                                        <option value=4>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 4 %> servers -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    * 4 %>
                                                                        </option>
                                                                        <option value=5>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 5 %> servers -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    * 5 %>
                                                                        </option>
                                                                        <option value=6>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 6 %> servers -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    * 6 %>
                                                                        </option>
                                                                        <option value=7>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 7 %> servers -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    * 7 %>
                                                                        </option>
                                                                        <option value=8>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 8 %> servers -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    * 8 %>
                                                                        </option>
                                                                        <option value=9>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 9 %> servers -
                                                                                $<%= settings.api.client.coins.store.servers.cost
                                                                                    * 9 %>
                                                                        </option>
                                                                        <option value=10>
                                                                            <%= settings.api.client.coins.store.servers.per
                                                                                * 10 %> servers
                                                                                - $<%=
                                                                                    settings.api.client.coins.store.servers.cost
                                                                                    * 10 %>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <button type="submit"
                                                                    class="btn btn-outline-default">Buy</button>
                                                            </form>
                                                        </div>
                                                        <script>
                                                            async function submitForm() {
                                                                let name = encodeURIComponent(document.getElementById("name").value);
                                                                let egg = encodeURIComponent(document.getElementById("egg").value);
                                                                let ram = encodeURIComponent(document.getElementById("ram").value);
                                                                let disk = encodeURIComponent(document.getElementById("disk").value);
                                                                let cpu = encodeURIComponent(document.getElementById("cpu").value);
                                                                let location = encodeURIComponent(document.getElementById("location").value);
                                                                document.location.href =
                                                                    `/create?name=${name}&egg=${egg}&ram=${ram}&disk=${disk}&cpu=${cpu}&location=${location}`;
                                                            };
                                                        </script>

                                                    </div>
                                                </div>
                                            </div>



                                            <footer class="footer pt-3  ">
                                                <div class="container-fluid">
                                                    <div class="row align-items-center justify-content-lg-between">
                                                        <div class="col-lg-6 mb-lg-0 mb-4">
                                                            <div
                                                                class="copyright text-center text-sm text-muted text-lg-start">
                                                                
                                                                <script>
                                                                    document.write(new Date().getFullYear())
                                                                </script>,
                                                                Made with  by <a target="_blank"
                                                                    href="https://github.com/NicoRuizDev">
                                                                    NicoRuizDev</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <ul
                                                                class="nav nav-footer justify-content-center justify-content-lg-end">
                                                                <li class="nav-item">
                                                                    <a href="/about" class="nav-link text-muted"
                                                                        target="_blank">About Us</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href="https://<%= extra.name %>.tech/blog/"
                                                                        class="nav-link text-muted"
                                                                        target="_blank">Blog</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href=" /privacy" class="nav-link text-muted"
                                                                        target="_blank">Privacy Policy</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href=" /term" class="nav-link pe-0 text-muted"
                                                                        target="_blank">Terms of Service</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>

                                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                        </div>
                                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                        </div>
                                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                        </div>
                                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                        </div>
        </main>
        <div id="scrnli_recorder_root"></div>
        <div class="fixed-plugin ps">
            <div class="card shadow-lg">
                <div class="card-header pb-0 pt-3 ">
                    <div class="float-start">
                        <h5 class="mt-3 mb-0">Argon Configurator</h5>
                        <p>See our dashboard options.</p>
                    </div>
                    <div class="float-end mt-4">
                        <button class="btn btn-link p-0 fixed-plugin-close-button text-white">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!-- End Toggle Button -->
                </div>
                <hr class="horizontal my-1 light">
                <div class="card-body pt-sm-3 pt-0 overflow-auto">
                    <!-- Sidebar Backgrounds -->
                    <div>
                        <h6 class="mb-0">Sidebar Colors</h6>
                    </div>
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="badge-colors my-2 text-start">
                            <span class="badge filter bg-gradient-primary active" data-color="primary"
                                onclick="sidebarColor(this)"></span>
                            <span class="badge filter bg-gradient-dark" data-color="dark"
                                onclick="sidebarColor(this)"></span>
                            <span class="badge filter bg-gradient-info" data-color="info"
                                onclick="sidebarColor(this)"></span>
                            <span class="badge filter bg-gradient-success" data-color="success"
                                onclick="sidebarColor(this)"></span>
                            <span class="badge filter bg-gradient-warning" data-color="warning"
                                onclick="sidebarColor(this)"></span>
                            <span class="badge filter bg-gradient-danger" data-color="danger"
                                onclick="sidebarColor(this)"></span>
                        </div>
                    </a>
                    <!-- Sidenav Type -->
                    <div class="mt-3">
                        <h6 class="mb-0">Sidenav Type</h6>
                        <p class="text-sm">Choose between 2 different sidenav types.</p>
                    </div>
                    <div class="d-flex">
                        <button class="btn bg-gradient-primary w-100 px-3 mb-2 me-2 disabled" data-class="bg-white"
                            onclick="sidebarType(this)">White</button>
                        <button class="btn bg-gradient-primary w-100 px-3 mb-2 active disabled" data-class="bg-default"
                            onclick="sidebarType(this)">Dark</button>
                    </div>
                    <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
                    <!-- Navbar Fixed -->
                    <div class="d-flex my-3">
                        <h6 class="mb-0">Navbar Fixed</h6>
                        <div class="form-check form-switch ps-0 ms-auto my-auto">
                            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed"
                                onclick="navbarFixed(this)">
                        </div>
                    </div>
                    <hr class="horizontal my-sm-4 light">
                    <div class="mt-2 mb-5 d-flex">
                        <h6 class="mb-0">Light / Dark</h6>
                        <div class="form-check form-switch ps-0 ms-auto my-auto">
                            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version"
                                onclick="darkMode(this)" checked="true">
                        </div>
                    </div>
                    <a class="btn bg-gradient-dark w-100"
                        href="https://www.creative-tim.com/product/argon-dashboard">Free
                        Download</a>
                    <a class="btn btn-outline-dark w-100"
                        href="https://www.creative-tim.com/learning-lab/bootstrap/license/argon-dashboard">View
                        documentation</a>
                    <div class="w-100 text-center">
                        <span></span>
                        <h6 class="mt-3">Thank you for sharing!</h6>
                        <a href="https://twitter.com/intent/tweet?text=Check%20Argon%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fargon-dashboard"
                            class="btn btn-dark mb-0 me-2" target="_blank">
                            <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/argon-dashboard"
                            class="btn btn-dark mb-0 me-2" target="_blank">
                            <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
                        </a>
                    </div>
                </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>
        <div id="scrnli_recorder_root"></div>
        <!--   Core JS Files   -->
        <script src="../assets/js/core/popper.min.js"></script>
        <script src="../assets/js/core/bootstrap.min.js"></script>
        <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
        <script src="../assets/js/plugins/chartjs.min.js"></script>
        <script>
            var ctx1 = document.getElementById("chart-line").getContext("2d");

            var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

            gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
            gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
            gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');
            new Chart(ctx1, {
                type: "line",
                data: {
                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Mobile apps",
                        tension: 0.4,
                        borderWidth: 0,
                        pointRadius: 0,
                        borderColor: "#5e72e4",
                        backgroundColor: gradientStroke1,
                        borderWidth: 3,
                        fill: true,
                        data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                        maxBarThickness: 6

                    }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        y: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5]
                            },
                            ticks: {
                                display: true,
                                padding: 10,
                                color: '#fbfbfb',
                                font: {
                                    size: 11,
                                    family: "Open Sans",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                            }
                        },
                        x: {
                            grid: {
                                drawBorder: false,
                                display: false,
                                drawOnChartArea: false,
                                drawTicks: false,
                                borderDash: [5, 5]
                            },
                            ticks: {
                                display: true,
                                color: '#ccc',
                                padding: 20,
                                font: {
                                    size: 11,
                                    family: "Open Sans",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                            }
                        },
                    },
                },
            });
        </script>
        <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
                    damping: '0.5'
                }
                Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }
        </script>
        <!-- Github buttons -->
        <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
        <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="../assets/js/argon-dashboard.min.js?v=2.0.0"></script>


        <iframe src="chrome-extension://ijejnggjjphlenbhmjhhgcdpehhacaal/audio-devices.html" allow="microphone"
            style="display: none;"></iframe><input type="file" id="" name="file" style="display: none;">
        <div data-v-5f0b9ba1="" class="container_selected_area"
            style="cursor: url(&quot;chrome-extension://ijejnggjjphlenbhmjhhgcdpehhacaal/assets/images/cursor-imagen.svg&quot;) 9 9, crosshair;">
            <div data-v-5f0b9ba1="" class="area"></div>
        </div>


        <iframe src="chrome-extension://ijejnggjjphlenbhmjhhgcdpehhacaal/audio-devices.html" allow="microphone"
            style="display: none;"></iframe><input type="file" id="" name="file" style="display: none;">
        <div data-v-5f0b9ba1="" class="container_selected_area"
            style="cursor: url(&quot;chrome-extension://ijejnggjjphlenbhmjhhgcdpehhacaal/assets/images/cursor-imagen.svg&quot;) 9 9, crosshair;">
            <div data-v-5f0b9ba1="" class="area"></div>
        </div>
</body>

</html>